.top{
    background: linear-gradient(45deg,yellow,red);
    width:85%;
    padding: 10px;
    margin: 0 auto;
}
.bor{
    border: 3px solid black;
}
.bhai{
    font-size: 10px;
    align-items: right;
}
